<% layout("/layouts/boilerplate.ejs") %>

    <body class="body">
        <div class="col-7 offset-4">
            <h2>Create New Post</h2>
            <form action="/posts" method="post">
                <div class="mb-3 col-8">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="exampleFormControlInput1"
                        placeholder="enter username">
                </div>
                <div class="mb-3 col-8">
                    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                    <textarea name="content" class="form-control" id="exampleFormControlTextarea1"
                        placeholder="enter your content" rows="10" cols="40"></textarea>
                </div>
                <button class="btn btn-dark">submit-post</button>
            </form>
        </div>
    </body>